header {
    display: flex;
    align-items: center;
    font-size: 15px;
    justify-content: space-between;
}
.rightNav {
    display: flex;
    align-items: center;
    gap: 15px;
}
.rightSection {
    display: flex;
}
header img {
    height: 4em;
    width: auto;
}
header ul{ 
    list-style-type: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0; 
}

.flights-component {
    display: flex;
    justify-content: center;
}
.flight-list {
    display: flex;
    justify-content: center;
}
.splash{
    width: 100%; 
    height: auto; 
}
